// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

//Declaración de variables
$mainFontFamily: 'Poppins', sans-serif;

//Overwriting css Variables
//Colors
$primary: #603601;
$secondary: #E48F45;
$textOnPrimary: white;
$darkerPrimary: #311a00;
$body-color: #8D7B68;
$body-bg: #F7EFE5;
$body-secondary-bg: #eeebe9;
$danger: #B31312;
$success: #5F6F52;
$border-color: $body-color;
$box-shadow: 6px 6px 12px #fffefc, -6px -6px 12px #E1D7C6, 6px 6px 12px #fffefc, -6px -6px 12px #E1D7C6;
$border: rgba($body-color,0.3) 2px solid;
//Text
$font-family-sans-serif: 'Montserrat', sans-serif;
$cursiveFont: 'Tangerine', cursive;
$font-size-base: 1rem;
$link-color: $primary;
//Forms
$focus-ring-color: white;
$input-border-width: 0px;
$input-border-radius: 0.7rem;
$input-padding-y: .5rem;
//Tooltips
$tooltip-bg: $darkerPrimary;
$tooltip-color: $textOnPrimary;
//DropDowns
$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $textOnPrimary;
//Buttons
$btn-border-radius: 0.7rem;
$btn-border-radius-lg: $btn-border-radius;
//Tables
$table-color:$primary;
//Accordion
$accordion-button-active-bg: $primary;
$accordion-button-active-color: $textOnPrimary;
$accordion-icon-active-color:  $textOnPrimary;
$accordion-border-color: $body-color;
$accordion-border-radius: 20px;
$accordion-inner-border-radius: 20px;


// Bootstrap
@import 'bootstrap/scss/bootstrap';


//! Overwriting Swal
$swal2-background: $body-bg;
$swal2-outline-color: $body-color;
$swal2-toast-background: $body-bg;
$swal2-close-button-color: $primary;
$swal2-confirm-button-background-color: $primary;
$swal2-title-color: $darkerPrimary;
$swal2-confirm-button-background-color: $success;
$swal2-deny-button-background-color: $danger;
$swal2-cancel-button-background-color: $body-color;
$swal2-toast-box-shadow: none;
$swal2-border: $border;
$swal2-border-radius: 20px;
$swal2-timer-progress-bar-background: rgba($primary,0.5);
$swal2-validation-message-background: $danger-bg-subtle;
$swal2-validation-message-icon-background: $danger;
//! Swal import
@import 'sweetalert2/src/sweetalert2.scss';

// ! Custom styling
//Headers h1-h6
@for $i from 1 through 6 {
    h#{$i} {
        font-family: $cursiveFont;
        color: $primary;
    }
}
.swal2-title{
    font-family: $mainFontFamily
}

.fa-solid, .svg-inline--fa {
    @extend .m-1;
    vertical-align: middle;
}

.handwritten {
    font-family: $cursiveFont;
    font-size: 1.5em !important;
}

//! Page header
header {
    .headerLogo {
        height: 50px;
        @extend .me-2;
    }
}

//Cards
.paperLayer {
    @extend .shadow, .rounded-4;
}

.paperCard {
    @extend .paperLayer, .p-sm-4, .p-3, .py-3;
}

.paperCardTitle {
    @extend .display-4;
}

//Buttons
.btn-secondary{
    @extend .text-white
}

.demoButton{
    font-size: x-small !important;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    @extend .btn-sm;
}



//Forms
form {
    .form-control {
        box-shadow: $box-shadow;
    }


    label {
        overflow-x: scroll;
        max-width: 100%;
    }
    .input-group-text{
        background-color: $body-bg;
        color: $body-color;
        border: $border;
        @extend .ms-3;
        cursor: pointer;
    }

    fieldset {
        @extend .paperCard;

        &:has(legend) {
            @extend .position-relative, .mt-5, .pt-5;
        }

        legend {
            @extend .position-absolute, .top-0, .translate-middle-y, .bg-primary, .w-auto, .p-1, .rounded-3, .text-white, .px-2, .fs-6;
        }

    }

    input[type="radio"]:checked + label {
        @extend .text-primary;
    }
}


//Badges
.badge{
    background-color: $primary-bg-subtle;
    color: $primary;
    @extend .small, .p-1, .rounded, .text-nowrap, .fw-normal;
}

.badge-secondary{
    @extend .badge, .text-white;
    background-color: $secondary;
}


//General styling
.max-width-xs {
    max-width: 430px;
}

.max-width-sm {
    max-width: 540px;
}

.max-width-md {
    max-width: 750px;
}

@for $i from 1 through 150 {
    .max-width-#{calc($i*10)} {
        max-width: calc($i*10px);
    }
}

@for $i from 1 through 5 {
    .spacer-#{$i} {
        @extend .m-#{$i};
    }
}


.squareRatio{
    aspect-ratio: 1;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden
}
.fill img {
    width: 100%;
    min-height: 100%;
    object-fit: cover
}
.roundPhoto{
    @extend .fill, .squareRatio, .rounded-circle
}



//! Miscellaneous
/* Loader */
.loaderContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    left: -0px;

}

.loader {
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}

.loader:after,
.loader:before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    background: $darkerPrimary;
    animation: spin 1s linear infinite;
    transform-origin: 0px 100%;
}

.loader:before {
    transform-origin: 0 50%;
    background: $textOnPrimary;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

//Deleting Animation
.selectedForDelete {
    animation: tilt-n-move-shaking 0.5s infinite;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(2deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}


//Sweet Alert z-index
.swal2-container {
    z-index: 99999999999999;
}

//Hiding Captcha
.grecaptcha-badge { visibility: hidden; }
